.latte .mdbook-alerts-note {
  --mdbook-alerts-color: #1e66f5;
}
.latte .mdbook-alerts-tip {
  --mdbook-alerts-color: #40a02b;
}
.latte .mdbook-alerts-important {
  --mdbook-alerts-color: #8839ef;
}
.latte .mdbook-alerts-warning {
  --mdbook-alerts-color: #df8e1d;
}
.latte .mdbook-alerts-caution {
  --mdbook-alerts-color: #d20f39;
}

.frappe .mdbook-alerts-note {
  --mdbook-alerts-color: #8caaee;
}
.frappe .mdbook-alerts-tip {
  --mdbook-alerts-color: #a6d189;
}
.frappe .mdbook-alerts-important {
  --mdbook-alerts-color: #ca9ee6;
}
.frappe .mdbook-alerts-warning {
  --mdbook-alerts-color: #e5c890;
}
.frappe .mdbook-alerts-caution {
  --mdbook-alerts-color: #e78284;
}

.macchiato .mdbook-alerts-note {
  --mdbook-alerts-color: #8aadf4;
}
.macchiato .mdbook-alerts-tip {
  --mdbook-alerts-color: #a6da95;
}
.macchiato .mdbook-alerts-important {
  --mdbook-alerts-color: #c6a0f6;
}
.macchiato .mdbook-alerts-warning {
  --mdbook-alerts-color: #eed49f;
}
.macchiato .mdbook-alerts-caution {
  --mdbook-alerts-color: #ed8796;
}

.mocha .mdbook-alerts-note {
  --mdbook-alerts-color: #89b4fa;
}
.mocha .mdbook-alerts-tip {
  --mdbook-alerts-color: #a6e3a1;
}
.mocha .mdbook-alerts-important {
  --mdbook-alerts-color: #cba6f7;
}
.mocha .mdbook-alerts-warning {
  --mdbook-alerts-color: #f9e2af;
}
.mocha .mdbook-alerts-caution {
  --mdbook-alerts-color: #f38ba8;
}